* {
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	color: #eee;
	background-color: #202D33;
}
body,
.button,
input,
select {	
	font-family: "Trebuchet MS", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
a {
	color: #FFF;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: underline;
}
.wrapper {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.header {
	position: absolute;
	top: 0;
	left: 20px;
}
	.header__title {
		font-size: 1.5em;
		line-height: .5;
		font-weight: 700;
		color: #444;
		text-shadow: 0 0 4px rgb(255, 255, 255), 0 0 6px rgba(255, 255, 255, .5);
	}
		.header__version {
			font-size: 50%;
			font-weight: 400;
			color: #A6B3BA;
			text-shadow: none;
			vertical-align: super;
		}
	.header__share-icon {
		margin-left: 4px;
	}
.button {
	padding: 0 .5em;
	font-size: .875em;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
	cursor: pointer;
	opacity: .75;
}
.button:focus,
.button:hover {
	opacity: 1;
	text-decoration: none;
}
.button--inverted {
	color: #000;
    background: #fff;
}
.artwork {
	min-height: 500px;
	background-color: #000;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}
.toolbox {
	text-align: center;
	line-height: 1em;
}
	.toolbox p:last-child {
		margin-bottom: 0;
	}
.settings {
	position: absolute;
	padding: .4em 0 .4em .7em;
    top: 0;
    right: 0;
	background-color: rgba(50, 72, 80, 0.7);
}
	.settings__fieldset {
		margin: 0;
		padding: 0 0 .2em;
		border: 0;
	}
	.settings input[type="range"] {
		width: 11em;
		vertical-align: middle;
		margin: 0;
		padding: 0; /* MS */
	}
	.settings__label {
		display: inline-block;
		min-width: 5em;
	}
	.settings__select {
		min-width: 7em;
		color: #FFF;
		background-color: #6a818a;
		border: 0;
	}
	.setting__value {
		display: inline-block;
		min-width: 1.15em;
		font-size: .8em;
		color: #aaa;
	}
	.settings__label,
	.settings__input,
	.settings__select {		
		font-size: .8em;
	}
	.settings__select + .settings__input {
		margin-left: .6em;
	}
	.settings__footer {
		padding-top: .5em;
		padding-right: .7em;
		text-align: right;
	}
.footer {
	position: absolute;
	bottom: 0;
	left: 20px;
}
.siteinfo {
	position: absolute;
	right: 20px;
	bottom: 0;
}
	.siteinfo__logo {
		margin-left: .3em;
		vertical-align: middle;
	}
.modal,
.modal__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.modal {
	display: none;
}
.modal--open {
	display: block;
}
	.modal__overlay {
		background-color: rgba(0,0,0,0.5);
	}
	.modal__body {
		padding: 1em;
		background-color: rgba(91, 109, 118, 0.8);
		border: 5px solid rgba(255,255,255,.35);
		z-index: 1;
	}
	.modal__body > *:first-child {
		margin-top: 0;
	}
	.modal__subtitle {
		margin-bottom: 0.7em;
	}
	.modal__input {
		width: 100%;
		min-width: 400px;
		padding: .5em;
		font-size: 1.5em;
		background-color: rgba(255,255,255,.85);
		border: 0;
	}
	.modal__input--md {
		font-size: 1em;
	}
	.modal__footer {
		padding-top: 1em;
		text-align: right;
	}

.is-hidden {
	display: none;
}
.is-disabled {
	opacity: .5;
	cursor: default;
}
	.is-disabled:hover,
	.is-disabled:focus {
		text-decoration: none;
	}
.icon {
	vertical-align: text-bottom;
}
a > .icon {
	opacity: .75;
}
a:hover > .icon,
a:focus > .icon {
	opacity: 1;
}
.input--error {
	background-color: #ffca95;
}